@media (max-width: 1469px) {
  .logo {
    margin-right: 100px;
  }
}
@media (max-width: 1375px) {
  .logo {
    margin-right: 121px;
    font-size: 21px;
  }
  .Nav_li {
    font-size: 15px;
  }
}
@media (max-width: 1255px) {
  .container {
    width: 1000px;
  }
  .block_Boy {
    padding-left: 40px;
  }
  .logo {
    margin-right: 60px;
  }
}
@media (max-width: 1200px) {
  .logo {
    padding-left: 15px;
  }
  .burger_menu {
    display: block;
    position: relative;
    z-index: 15;
    height: 20px;
    width: 45px;
    cursor: pointer;
    margin-right: 15px;
  }
  .burger_menu span,
  .burger_menu::before,
  .burger_menu::after {
    left: 0px;
    position: absolute;
    height: 13%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #7dd83f;
  }
  .burger_menu::before,
  .burger_menu::after {
    content: "";
  }
  .burger_menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .burger_menu::before {
    top: 0px;
  }
  .burger_menu::after {
    bottom: 0px;
  }
  .burger_menu._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .burger_menu._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger_menu._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .main {
    height: 587px;
  }
  .main_img {
    height: 587px;
  }
  .p_h1 {
    font-size: 18px;
  }
  .h1 {
    font-size: 34px;
  }
  .block_h1 {
    width: 341px;
    height: 371px;
    top: 90px;
  }
  .nav {
    display: flex;
    overflow: auto;
    position: fixed;
    flex-direction: column;
    z-index: 11;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -100%;
    background-color: #fff;
    padding: 100px 0px 0px 0px;
    transition: left 0.3s ease 0s;
  }
  .nav._active {
    left: 0px;
  }
  .nav::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 70px;
    z-index: 5;
    background: #fff;
  }
  .header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 13;
    height: 70px;
    background: #fff;
    margin: 0px;
    padding: 0px;
  }
  .logo {
    margin-right: 0px;
    position: relative;
    z-index: 15;
  }
  .UL_li {
    flex-direction: column;
    align-items: baseline;
  }
  .UL_li > li {
    margin: 0px 0px 30px 0px;
    font-size: 21px;
  }
}
@media (max-width: 1170px) {
  .Two_block_boy {
    width: 360px;
  }
  .img_boy {
    width: 50%;
    bottom: 290px;
    left: 140px;
  }
  .img_home {
    width: 70%;
  }
  .p_Boy {
    font-size: 14px;
  }
  .block_Boy {
    width: 400px;
  }
  .container {
    width: 800px;
  }
  .block_Boy {
    margin-right: 60px;
  }
  .h2_Boy {
    font-size: 28px;
  }
}
@media (max-width: 1150px) {
  .h3_Order_Onlain h3 {
    font-size: 32px;
  }
  .h3_Name {
    font-size: 15px;
  }
  .P_Reviews {
    font-size: 18px;
  }
  .P_Reviews_one {
    font-size: 18px;
  }
  .h3_Reviews {
    font-size: 32px;
  }
  .Certificates_block {
    position: relative;
    bottom: 120px;
  }
  .Certificates {
    height: 1190px;
  }
  .h2_Certificates {
    font-size: 32px;
  }
  .Four_Certificates {
    width: 100%;
    display: grid;
    grid-gap: 50px;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  }
  .block_h2 h3 {
    font-size: 34px;
  }
  .section_three {
    height: 1000px;
  }
  .clients_p {
    font-size: 18px;
  }
  .DTP_p {
    font-size: 15px;
  }
  .DTP_h3 {
    font-size: 18px;
  }
  .block_h3 {
    width: 100%;
    margin-bottom: 0px;
  }
  .Advantages {
    font-size: 18px;
  }
  .Why_h2 {
    font-size: 34px;
    width: 100%;
  }
  .block_percent {
    width: 80%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  }
  .four_block {
    width: 800px;
  }
  .bottom_block_Four {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Four_h3 {
    font-size: 34px;
    margin-bottom: 0px;
  }
  .P_Four {
    font-size: 18px;
    width: 500px;
  }
  .section_two {
    height: 790px;
  }
  .four_block_two {
    width: 80%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  }
}
@media (max-width: 950px) {
  .block_h1 {
    left: 50px;
  }
}
@media (max-width: 880px) {
  .container {
    width: 400px;
  }
  .Two_block_boy {
    width: 300px;
  }
  .block_Boy {
    margin-right: 30px;
    width: 300px;
  }
}
@media (max-width: 820px) {
  .four_block_two {
    justify-items: center;
  }
  .section_two {
    height: 1200px;
  }
  .bottom_block_Four {
    width: 100%;
  }
  .four_block {
    width: 100%;
  }
}
@media (max-width: 785px) {
  .block_girl_two {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  }
  .section_three {
    height: 1300px;
  }
  .block_three {
    position: relative;
    bottom: 300px;
  }
  .section_two {
    height: 1300px;
  }
  .main_img {
    height: 485px;
  }
  .main {
    height: 485px;
  }
  .block_h1 {
    width: 190px;
    top: 100px;
  }
  .h1 {
    font-size: 19px;
  }
  .p_h1 {
    font-size: 14px;
  }
  .btn_Insure {
    font-size: 14px;
    width: 180px;
  }
}
@media (max-width: 700px) {
  .block_three {
    bottom: 200px;
  }
  .section_two {
    top: 100px;
  }
  .block_Boy {
    width: 80%;
  }
  .section_one {
    margin-top: 0px;
  }
  .Two_block_boy {
    display: flex;
    width: 400px;
    justify-content: center;
  }
  .img_boy {
    left: 180px;
    bottom: 270px;
  }
  .block_boy_Two {
    align-items: normal;
    flex-direction: column-reverse;
    width: 100%;
    height: 800px;
  }
  .container {
    justify-content: normal;
    margin: 0px;
    width: 100%;
    height: 700px;
  }
}
@media (max-width: 640px) {
  .block_Order_Onlain {
    padding: 0px 25px 0px 25px;
  }
  .P_Reviews_one {
    margin-bottom: 50px;
  }
  .block_Girl {
    height: 280px;
  }
  .img_Certificates {
    margin-right: 0px;
  }
}
@media (max-width: 638px) {
  .Certificates {
    height: 1600px;
  }
  .Certificates_block {
    bottom: 500px;
  }
}
@media (max-width: 618px) {
  .block_Reviews {
    position: relative;
    bottom: 50px;
  }
  .Reviews {
    height: 1000px;
  }
}
@media (max-width: 550px) {
  .name_footer {
    font-size: 13px;
  }
  .li_footer {
    width: 60%;
    font-size: 13px;
    padding-left: 15px;
    margin-right: 0px;
  }
}
@media (max-width: 520px) {
  .img_close {
    left: 300px;
    bottom: 150px;
  }
  .block_input button {
    width: 100%;
    margin-right: 16px;
    font-size: 15px;
  }
  .input_text {
    width: 100%;
    margin-left: 16px;
  }
  .form_input {
    width: 100%;
  }
  .block_input {
    width: 100%;
  }
  .P_Four {
    width: 100%;
  }
  #popup {
    width: 300px;
    height: 150px;
  }
  .list_Polis {
    font-size: 15px;
  }
  .h3_Order_Onlain p {
    font-size: 15px;
  }
  .h3_Order_Onlain h3 {
    font-size: 25px;
  }
  .block_Girl {
    margin-right: 0px;
  }
  .h3_Name {
    font-size: 14px;
  }
  .P_Reviews {
    font-size: 15px;
  }
  .h3_Reviews {
    font-size: 25px;
  }
  .P_Reviews_one {
    font-size: 15px;
  }
  .h2_Certificates {
    font-size: 25px;
  }
  .input_text {
    padding: 1px;
    height: 53px;
  }
  .block_h2 h3 {
    font-size: 25px;
  }
  .block_h2 p {
    font-size: 15px;
  }
  .Advantages {
    font-size: 15px;
  }
  .clients_p {
    font-size: 15px;
  }
  .Why_h2 {
    font-size: 25px;
  }
  .Four_h3 {
    font-size: 25px;
  }
  .P_Four {
    font-size: 15px;
  }
  .h2_Boy {
    font-size: 21px;
  }
  .block_boy_Two {
    height: 700px;
  }
  .Two_block_boy {
    width: 300px;
  }
  .img_boy {
    left: 130px;
    bottom: 200px;
  }
  .h1 {
    font-size: 33px;
  }
  .block_h1 {
    width: 220px;
    top: 90px;
  }
  .block_insurance {
    right: 150px;
  }
  .main_img {
    display: none;
  }
  .logo {
    font-size: 15px;
  }
}
@media (max-width: 435px) {
  .footer_ul {
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}
@media (max-width: 380px) {
  .checkmark_green {
    width: 31px;
    height: 31px;
    margin-bottom: 7px;
  }
  .img_close {
    left: 200px;
    bottom: 100px;
  }
  #popup {
    width: 200px;
    height: 100px;
  }
  #popup > p {
    font-size: 13px;
  }
}
@media (max-width: 325px) {
  .h3_Order_Onlain h3 {
    font-size: 22px;
  }
  .P_Reviews_one {
    width: 250px;
  }
  .block_input button {
    font-size: 14px;
  }
  .input_text {
    font-size: 14px;
  }
}
@media (max-width: 317px) {
  .block_Cart {
    width: 240px;
    margin-right: 45px;
  }
  .four_block_two {
    grid-gap: 30px;
  }
  .cart_btn {
    margin-left: 25px;
  }
}/*# sourceMappingURL=media.css.map */