$font-family: "Noto Sans", sans-serif
$second-family: "Roboto", sans-serif
$third-family: "Inter", sans-serif

.body
    margin: 0px
    position: relative

.body._lock
    overflow: hidden

.header
    margin-top: 32px
    margin-bottom: 33px
    margin-left: 40px
    display: flex
    align-items: center
    justify-content: center

.nav
    display: flex
    align-items: center

.logo
    cursor: pointer
    height: 32px
    margin-right: 192px
    font-family: $font-family
    font-weight: 700
    font-size: 28px
    line-height: 114%
    color: #000

.UL_li
    display: flex
    align-items: center
    list-style: none
    padding: 0px
    margin: 0px

.Nav_li
    cursor: pointer
    font-family: $font-family
    font-weight: 500
    font-size: 18px
    line-height: 133%
    text-align: right
    color: rgba(0, 0, 0, 0.7)
    margin-right: 24px

.Contacts
    margin-right: 40px

.Telefon_li
    display: flex

.service_li
    font-family: $font-family
    font-weight: 700
    font-size: 13px
    line-height: 138%
    text-align: right
    color: rgba(0, 0, 0, 0.7)

.span_Telefon
    font-family: $font-family
    font-weight: 500
    font-size: 18px
    line-height: 133%
    text-align: right
    color: #000

.block_Telefon
    display: flex

.Servis
    font-family: $font-family
    font-weight: 700
    font-size: 13px
    line-height: 138%
    text-align: right
    color: rgba(0, 0, 0, 0.7)

.Span_telefon
    font-family: $font-family
    font-weight: 500
    font-size: 18px
    line-height: 133%
    text-align: right
    color: #000

.Button_call
    cursor: pointer
    border: none
    margin-left: 32px
    border-radius: 6px
    padding: 12px 24px
    height: 44px
    background: #00aca5
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: row
    gap: 10px
    font-family: $font-family
    font-weight: 500
    font-size: 15px
    line-height: 133%
    text-align: center
    color: #fff
    margin-right: 40px

.main
    position: relative
    display: flex
    width: 100%
    height: 798px
    background: #7dd83f

.main_img
    width: 100%
    height: 798px

.block_Car
    width: 50%

.block_insurance
    position: relative
    width: 50%

.block_h1
    position: absolute
    width: 445px
    height: 471px
    top: 186px
    left: 125px

.h1
    font-family: $third-family
    font-weight: 700
    font-size: 64px
    line-height: 110%
    color: #fff
    margin-bottom: 24px

.p_h1
    font-family: $third-family
    font-weight: 500
    font-size: 24px
    line-height: 133%
    color: rgba(255, 255, 255, 0.8)
    margin-bottom: 40px

.btn_Insure
    display: flex
    cursor: pointer
    font-family: $third-family
    font-weight: 700
    font-size: 18px
    line-height: 133%
    text-align: center
    color: #fff
    border: none
    background: #00aca5
    width: 225px
    height: 56px
    align-items: center
    justify-content: space-evenly

.section_one
    margin-top: 120px
    height: 720px

.container
    display: flex
    justify-content: center
    position: relative
    width: 100%
    height: 516px
    margin: 0px auto

.block_Boy
    width: 540px
    height: 304px
    margin-right: 125px

.h2_Boy
    font-family: $second-family
    font-weight: 700
    font-size: 48px
    line-height: 108%
    color: #000
    margin-bottom: 0px

.p_Boy
    font-family: $font-family
    font-weight: 700
    font-size: 18px
    line-height: 133%
    color: rgba(0, 0, 0, 0.7)
    margin-bottom: 32px

.Btn_Boy
    cursor: pointer
    border: none
    font-family: $second-family
    font-weight: 700
    font-size: 18px
    line-height: 133%
    text-align: center
    color: #fff
    width: 161px
    height: 56px
    background: #00aca5

.Two_block_boy
    position: relative
    width: 445px
    height: 520px

.img_boy
    position: absolute
    z-index: 5
    right: 10px

.img_home
    position: absolute
    top: 170px

.block_boy_Two
    display: flex
    align-items: center

.section_two
    display: flex
    background: #7dd83f
    width: 100%
    height: 690px
    position: relative

.four_block
    display: flex
    position: absolute
    width: 1110px
    height: 500px
    top: 100px
    flex-direction: column
    align-items: center

.Four_h3
    font-family: $font-family
    font-weight: 700
    font-size: 48px
    line-height: 108%
    text-align: center
    color: #fff
    margin: 0px 0px 24px 0px

.P_Four
    font-family: $font-family
    font-weight: 500
    font-size: 24px
    line-height: 130%
    text-align: center
    color: rgba(255, 255, 255, 0.8)

.bottom_block_Four
    width: 730px
    height: 138px
    margin-bottom: 64px

.four_block_two
    width: 100%
    display: flex

.block_Cart
    margin-right: 30px
    border: 1px solid rgba(0, 0, 0, 0.1)
    border-radius: 16px
    width: 255px
    height: 188px
    background: #fff

.CTP_h3
    font-family: $font-family
    font-weight: 500
    font-size: 18px
    line-height: 133%
    color: #000
    margin-left: 32px
    margin-top: 32px

.price_p
    font-family: $font-family
    font-weight: 700
    font-size: 18px
    line-height: 133%
    color: #00aca5
    margin-left: 32px

.cart_btn
    display: flex
    cursor: pointer
    border: none
    justify-content: center
    align-items: center
    border-radius: 4px
    width: 191px
    height: 40px
    font-family: $font-family
    font-weight: 500
    font-size: 15px
    line-height: 133%
    text-align: center
    color: #fff
    background: #00aca5
    margin-left: 32px

.span_p_two
    font-family: $font-family
    font-weight: 500
    font-size: 18px
    line-height: 133%
    text-decoration: line-through
    color: rgba(0, 0, 0, 0.7)
    margin-left: 8px

.container_Two
    height: 590px
    align-items: flex-end
    display: flex
    justify-content: center
    position: relative
    width: 100%
    height: 516px
    margin: 0px auto

.section_three
    width: 100%
    height: 826px

.container_Three
    align-items: flex-end
    display: flex
    justify-content: center
    position: relative
    width: 100%
    height: 100%
    margin: 0px auto
    align-items: center

.block_three
    display: flex
    justify-content: center
    width: 1110px
    height: 586px
    flex-direction: column
    align-items: center

.block_h3
    width: 720px
    height: 214px
    margin-bottom: 64px

.Advantages
    margin-top: 0px
    font-family: $font-family
    font-weight: 500
    font-size: 28px
    line-height: 130%
    text-align: center
    color: #00aca5
    margin-bottom: 0px

.Why_h2
    font-family: $font-family
    font-weight: 700
    font-size: 64px
    line-height: 106%
    text-align: center
    color: #000
    margin-bottom: 24px
    margin-top: 24px

.clients_p
    font-family: $font-family
    font-weight: 500
    font-size: 24px
    line-height: 130%
    text-align: center
    color: rgba(0, 0, 0, 0.7)
    margin-top: 0px
    width: 100%

.block_percent
    width: 1110px
    height: 308px
    display: flex

.percent_div
    margin-right: 30px
    display: flex
    width: 255px
    height: 100%
    flex-direction: column
    align-items: center

.img_Percent
    width: 48px
    height: 48px
    margin-bottom: 48px

.DTP_h3
    font-family: $font-family
    font-weight: 500
    font-size: 28px
    line-height: 130%
    text-align: center
    color: #000
    margin-top: 0px
    margin-bottom: 16px

.DTP_p
    font-family: $font-family
    font-weight: 700
    font-size: 18px
    line-height: 133%
    text-align: center
    color: rgba(0, 0, 0, 0.4)
    margin-top: 0px
    width: 100%

.section_four
    width: 100%
    height: 552px
    background: #7dd83f

.block_four
    display: flex
    width: 1109px
    height: 252px
    flex-direction: column
    justify-content: center
    align-items: center

.block_h2
    flex-direction: column
    align-items: center
    display: flex
    width: 100%
    height: 92px
    margin-bottom: 40px

.block_h2 h3
    width: 100%
    margin-top: 0px
    margin-bottom: 16px
    font-family: $second-family
    font-weight: 700
    font-size: 48px
    line-height: 108%
    text-align: center
    color: #fff

.block_h2 p
    width: 100%
    margin-top: 0px
    font-family: $second-family
    font-weight: 600
    font-size: 18px
    line-height: 133%
    text-align: center
    color: rgba(255, 255, 255, 0.8)

.block_input
    width: 482px
    height: 120px
    display: flex
    flex-direction: column

// input
.input_text
    border: none
    border-radius: 11px
    font-family: $font-family
    font-weight: 700
    font-size: 18px
    line-height: 133%
    color: rgb(0, 0, 0)
    width: 260px
    height: 54px
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-direction: row
    gap: 10px
    outline: none
    margin-right: 16px

::-webkit-input-placeholder
    color: rgba(0, 0, 0, 0.2)

.block_input button
    border: none
    cursor: pointer
    background: #00aca5
    font-family: $second-family
    font-weight: 700
    font-size: 18px
    line-height: 133%
    text-align: center
    color: #fff
    border-radius: 4px
    width: 206px
    height: 56px

.form_input
    display: flex

.block_input p
    width: 100%
    font-family: $second-family
    font-weight: 600
    font-size: 15px
    line-height: 133%
    text-align: center
    color: rgba(255, 255, 255, 0.7)

.Certificates
    width: 100%
    height: 656px

.Certificates_block
    display: flex
    justify-content: flex-start
    width: 1099px
    height: 416px
    flex-direction: column

.h2_Certificates
    width: 100%
    font-family: $font-family
    font-weight: 700
    font-size: 48px
    line-height: 108%
    text-align: center
    color: #000
    margin-top: 0px
    margin-bottom: 64px

.Four_Certificates
    width: 100%
    display: flex

.img_Certificates
    width: 255px
    height: 300px
    margin-right: 30px

.Reviews
    width: 100%
    height: 843px

.block_Reviews
    width: 1110px
    height: 643px
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: column

.h3_Reviews
    width: 100%
    font-family: $font-family
    font-weight: 700
    font-size: 64px
    line-height: 106%
    text-align: center
    color: #000
    margin-top: 0px
    margin-bottom: 24px

.P_Reviews_one
    margin-top: 0px
    width: 100%
    font-family: $font-family
    font-weight: 500
    font-size: 24px
    line-height: 130%
    text-align: center
    color: rgba(0, 0, 0, 0.7)
    margin-bottom: 80px

.block_girl_two
    width: 100%
    height: 409px
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-direction: row
    gap: 30px

.block_Girl
    width: 100%
    height: 347px
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: column
    gap: 0px
    margin-right: 30px

.imgGirl
    width: 64px
    height: 64px
    margin-top: 40px

.P_Reviews
    width: 100%
    font-family: $font-family
    font-weight: 500
    font-size: 24px
    line-height: 130%
    text-align: center
    color: rgb(0, 0, 0)
    margin-top: 32px
    margin-bottom: 32px

.block_Name
    width: 100%
    display: flex
    justify-content: center

.h3_Name
    width: 100%
    font-family: $font-family
    font-weight: 500
    font-size: 18px
    line-height: 133%
    text-align: center
    color: #000

.Span_name
    font-family: $font-family
    font-weight: 700
    font-size: 13px
    line-height: 138%
    text-align: center
    color: rgba(0, 0, 0, 0.4)

.BlockMargin
    margin-right: 0px

.img_Arrow
    width: 17px
    height: 14px

.section_order_online
    width: 100%
    height: 848px
    background: #7dd83f

.block_Order_Onlain
    display: flex
    flex-direction: column
    align-items: center
    width: 600px
    height: 648px

.h3_Order_Onlain
    width: 100%
    height: 92px
    margin-bottom: 40px

.h3_Order_Onlain h3
    width: 100%
    font-family: $font-family
    font-weight: 700
    font-size: 48px
    line-height: 108%
    text-align: center
    color: #fff
    margin-top: 0px
    margin-bottom: 16px

.h3_Order_Onlain p
    width: 100%
    font-family: $font-family
    font-weight: 500
    font-size: 18px
    line-height: 133%
    text-align: center
    color: rgba(255, 255, 255, 0.8)
    margin: 0px

.input_three_block
    display: flex
    flex-direction: column
    width: 100%

.inpun_name
    border-radius: 8px
    font-family: $font-family
    font-weight: 700
    font-size: 18px
    line-height: 133%
    color: rgba(0, 0, 0, 0.2)
    border: none
    width: 95%
    height: 56px
    padding-left: 20px
    margin-bottom: 8px
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-direction: column
    gap: 0px
    color: #000000
    outline: none

.list_Polis
    font-family: $font-family
    font-weight: 500
    font-size: 18px
    line-height: 133%
    color: #fff

.block_checbox
    display: flex
    margin-bottom: 15px
    align-items: center

.checbox_bottom
    margin-bottom: 40px

.label_CASCO
    cursor: pointer
    font-family: $font-family
    font-weight: 700
    font-size: 18px
    line-height: 133%
    color: #fff
    margin-left: 16px

.btn_order_online
    cursor: pointer
    border: none
    border-radius: 6px
    width: 100%
    height: 56px
    background: #00aca5
    font-family: $font-family
    font-weight: 500
    font-size: 18px
    line-height: 133%
    text-align: center
    color: #fff
    margin-bottom: 24px

.p_form
    width: 100%
    font-family: $font-family
    font-weight: 700
    font-size: 13px
    line-height: 138%
    text-align: center
    color: rgba(255, 255, 255, 0.7)

.span_form
    color: #fff
    cursor: pointer

// checkbox
.CASCO_style
    appearance: none
    cursor: pointer
    width: 24px
    height: 24px
    border: 2px solid rgba(255, 255, 255, 0.3)
    border-radius: 12px

.CASCO_style:checked
    /* стили для выбранного состояния */
    width: 25px
    height: 24px
    border: none
    border-radius: 31px
    background-color: #00aca5
    background-image: url("../img/круг.png")

.footer
    width: 100%
    height: 340px

.block_footer
    display: flex
    width: 500px
    height: 180px
    flex-direction: column
    align-items: center

.block_top_img
    width: 100%
    display: flex
    justify-content: center
    margin-bottom: 40px

.img_Facebook
    cursor: pointer
    width: 56px
    height: 56px
    margin-right: 10px

.footer_ul
    width: 100%
    margin-top: 0px
    margin-bottom: 40px
    display: flex
    padding: 0px
    justify-content: center
    align-items: center

.li_footer
    margin-right: 40px
    cursor: pointer
    list-style: none
    font-family: $font-family
    font-weight: 700
    font-size: 18px
    line-height: 133%
    color: rgba(0, 0, 0, 0.8)

.Contacts_li
    margin-right: 0px

.name_footer
    margin: 0px
    font-family: $font-family
    font-weight: 700
    font-size: 15px
    line-height: 133%
    color: rgba(0, 0, 0, 0.6)

.burger_menu
    display: none

.block_shipped
    width: 100%
    display: flex

.block_border
    width: 500px
    height: 300px
    position: absolute
    z-index: 11
    background-color: #fff

#popup-overlay
    position: fixed
    z-index: 15
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.521)
    display: none

#popup
    display: flex
    position: absolute
    top: 50%
    left: 50%
    width: 400px
    height: 200px
    transform: translate(-50%, -50%)
    background-color: #fff
    padding: 20px
    border-radius: 5px
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
    align-items: center
    flex-direction: column
    justify-content: center

#popup > h3
    font-family: $font-family
    font-weight: 700
    font-size: 21px
    line-height: 106%
    text-align: center
    color: #000
    display: flex
    justify-content: center
    width: 100%
    margin: 0px

#popup > p
    width: 100%
    font-family: $font-family
    font-weight: 500
    font-size: 15px
    line-height: 130%
    text-align: center
    color: rgba(0, 0, 0, 0.7)

.img_close
    position: absolute
    cursor: pointer
    width: 35px
    height: 35px
    left: 390px
    bottom: 190px

.popup-overlay._lock
    overflow: hidden

.inputBorder
    border: 2px solid red

// проверка инпута
#name_surname:required
    border: 2px solid red

#phone02:required
    border: 2px solid red

#email01:required
    border: 2px solid red

#name_surname:valid
    border: none

#phone02:valid
    border: none

#email01:valid
    border: none

.checkmark_green
    width: 64px
    height: 64px
    margin-bottom: 17px
